<h1>HOME</h1>

  <% if current_user %>
  <div class= "pull-right">
    <h2> Hello,<%= current_user.first_name %></h2>
  </div>
  <% else %>
  <div class= "pull-right">
    <h3> Please sign in </h3>
  </div>

<% end %>

<% if @post %>
  <h2>Featured Blog Post</h2>
  <hr />
  <h3><%= link_to @post.title, post_path(@post) %></h3>

  <p><em><%= @post.author %></em> | <%= time_tag( @post.published_at ) %></p>

  <%= simple_format(truncate(@post.body, length:300, seperator: '.',
  omission: "... #{ link_to 'continue reading', post_path(@post)}") ) %>

<% end %>