<% if current_user %>
 <%=  %>

<h1>HOME</h1>

<% if @post %>
<h2>Featured Blog Post</h2>

<h3><%= link_to @post.title, post_path(@post) %></h3>

<p><em><%= @post.author %></em> | <%= time_tag( @post.published_at ) %></p>

<p><%= simple_format(truncate(@post.body, length:300, seperator: '.',
omission: "... #{ link_to 'continue reading', post_path(@post)}") ) %></p>

<% end %>