<div class='row' >
  <div class='col-sm-6 col-sm-offset-3' >
    <%= simple_form_for(@contact_message) do |f| %>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :topic, collection:[["Costomer Service"],["Technical Support"],['Suggestions']] %>
      <%= f.input :body, input_html: {rows: 6}  %>

      <div class='text-center'>
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>  
</div>