<div class='row'>
  <div class='col-sm-6 col-sm-offset-3'>
    <%= simple_form_for(@user) do |f| %>
      <%= f.error_notification %>
      <%= f.input :email %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :profile_picture %>
      <% if controller.action_name == 'new' or controller.action_name == 'create' %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
      <% end %>
      <div class='text-center'>
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>  
</div>
    