<!-- <div class="modal fade" id="project-<%= project.id%>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= project.name %></h4>
      </div>
      <div class="modal-body">
        <div class='col-sm-6 media-items'>
          <p class='text-center'><%= image_tag(project.pictures.first.image.url(:large), class: 'img-responsive img-thumbnail main-gallery-image')%>
            <br />
            <%= link_to "View High Resolution image", "#{project.pictures.first.image.url(:original)}", target: "_blank", class: "high-res-image" %>
          </p>
          <div class='margin-horizontal-10'>
            <% project.pictures.each do |pic| %>
              <div class='col-md-4 col-xs-6'>
                <p class='text-center'>
                  <%= image_tag(pic.image.url(:small), class: 'img-responsive img-thumbnail gallery-item', data: {img_lg: "#{pic.image.url(:large)}", img_original: "#{pic.image.url(:original)}"  } )%>
                </p>
              </div>
            <% end %>
          </div>
          <div class='clearfix'></div>
          <hr />
          <p> <%= display_tags(project) %> </p>
          <div class='clearfix'></div>
        </div>
        <div class='col-sm-6'>
            <p> Completed <%= time_tag project.completion_date.to_date %></p>
            <%= simple_format project.description %>
            <% if project.url %>
              <p><%= link_to "View Project", project.url, target: "_blank" %></p>
            <% end %>
            <% if project.tools.any? %>
              <h4> Tools used: <%= display_tools(project) %> </h4>
            <% end %>
        </div>

      </div>
      <div class='clearfix'></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->