 <h1>My Portfolio</h1>
<div class='text-center'>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Completion date</th>
    <th></th>
    <th></th>
  </tr>
</div>
<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.description %></td>
    <td><%= project.completion_date %></td>
    <td><%= project.url %></td>
    <td><%= link_to 'Show', project %></td>
    <% if can? :update, @projects %>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <% end %>
    <% if can? :destroy, @projects %>
      <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>  
  </tr>
<% end %>
</table>

<br />
<div class= 'text-center'>
<%= link_to 'New Project', new_project_path %>
</div> 

<!-- <div class='page-header text-center'>
  <h1> My portfolio</h1>
</div>
<% @projects.each do |project| %>

  <div class='col-md-3 col-sm-4 col-xs-6 gutter'>
    <% if project.pictures.first %>
    <%= link_to "#", data: { toggle: 'modal', target: "#project-#{ project.id }"}, class: "thumbnail-links" do %>
      <div class='project-overlay'>
        <h5> <%=project.name %></h5>
        <p> <i class='glyphicon glyphicon-search'></i>View project</p>
      </div>
      <%= image_tag(project.pictures.first.image.url(:medium), class: 'img-responsive') %>
      <% end %>
    <% end %>
  </div>
  <%= render 'projects/modal', project: project %>
<% end %>
<div class= 'text-center'>
<%= link_to 'New Project', new_project_path %>
</div> 
 -->