<div class='row' >
  <div class='col-sm-6 col-sm-offset-3' >
    <%= simple_form_for(@post) do |f| %>
      <%= f.input :title %>
      <%= f.input :body, input_html: {rows: 6} %>
      <%= f.datetime_select :published_at %>
      <%= f.input :author %>
      <%= f.input :featured %>
      <div class='text-center'>
        <%= f.button :submit %>
      </div>  
    <% end %>
  </div>
</div>
