<article class="<%= 'featured' if post.featured? %>">
  <h2>
    <%= link_to post.title, post %>
    <small>by <%= post.author %></small>
    <% if post.featured? %>
      <small>FEATURED POST</small>
    <% end %>
  <br/>  
  </h2>
<div class="pull-right">
  <%= link_to 'Show', post, class: "btn btn-info btn-xs" %>
  <%= link_to 'Edit', edit_post_path(post), class: "btn btn-info btn-xs" %>
  <%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-info btn-xs" %>
</div>
  <p>
    <%= simple_format(post.body) %>
  </p>
  <h3> <%= link_to "comments (#{post.comments.count})", post_path(post) + '#comments' %> </h3>
</article>  