<article class="<%= 'featured' if post.featured? %>">
  <h2>
    <%= link_to post.title, post %>
    <small>by <%= post.author %></small>
    <% if post.featured? %>
      <strong>FEATURED POST</strong>
    <% end %>
  <br/>  
  </h2>
  <%= link_to 'Show', post %>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'} %>
  <p>
    <%= post.body %>
  </p>
  <h3> <%= link_to "comments (#{post.comments.count})", post_path(post) + '#comments' %> </h3>
</article>  