
<h1>Listing posts</h1>

<% @posts.each do |post| %>
  
    <h3><%= post.title %></h3>
      <p>
        <%= post.body %>
      </p>  
    <%= post.published_at.to_date %>
    <%= post.author %>
    <%= post.featured %>
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>


<br />
<%= link_to 'New Post', new_post_path %>
