<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-navigation"> 
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">Ginger Bread Man</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="primary-navigation">
      <ul class="nav navbar-nav">
        <li><%= link_to "My Blog", posts_path %></li>
        <li><%= link_to "Gallery", gallery_path %></li>
        <li><%= link_to "About Me", about_me_path %></li>
        <li><%= link_to "Contact Me", new_contact_message_path %></li>
        <li><%= link_to "Projects", projects_path %></li>
      </ul>

      <ul class='nav navbar-nav navbar-right'>  
        <% if current_user %>
        <li>
          <%= link_to edit_user_path(current_user) do %>
          <%= image_tag(current_user.profile_picture.url(:tiny)) %>
          <%= current_user.first_name %>
          <% end %>
        </li>
        <li><%= link_to "Sign out", sign_out_path, method: :delete %></li>
        <% else %>  
        <li><%= link_to "Sign up", sign_up_path %></li>
        <li><%= link_to "Sign in", sign_in_path %></li>  
      </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
