<nav>
  <ul class="nav">
    <li class="nav_bar"><%= link_to "Home", root_path, id: "home-link"%></li>
    <li class="nav_bar"><%= link_to "My Blog", posts_path %></li>
    <li class="nav_bar"><%= link_to "Gallery", gallery_path %></li>
    <li class="nav_bar"><%= link_to "About Me", about_me_path %></li>
    <li class="nav_bar"><%= link_to "Sign up", sign_up_path %></li>
    <li class="nav_bar"><%= link_to "Sign in", sign_in_path %></li>  
  </ul>
</nav>   