<!DOCTYPE html>
<html>
  <head>
    <title>Ginger bread man</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
  </head>
  

  <body>
    <div class='content'>
      <header><%= render 'layouts/navigation_bar' %></header>
      <%= yield %>
    </div>
    <footer>
      <p> &copy; <%= Time.now.year %> Andy Madsen | <%= Rails.env %></p>
    </footer>
  </body>  
    
  
</html>
